%display {
  display: flex;
  flex-direction: row;
}

.body {
  margin: 0 auto;
  width:100%;
  font-family: 'Roboto', sans-serif;
  max-width: 1400px;
  font-size: 18px;
}

.header__block {
  @extend %display;
  align-items: center;
  width: 80vw;
  margin: 1% auto;

  &_nav {
    flex-grow: 1;
  }

  .block__logo {
    flex-grow: 2;
  }

  .nav__list {
    @extend %display;
    list-style-type: none;
  }

  .list_item {
    padding: 4%;
  }

  .header__button {
    @extend %display;

    &_sign-in {
      border: black .03em solid;
      margin-right: 7%;
    }
  }

}

.button {
  width: 110px;
  height: 46px;
  border-radius: 4px;
  text-align: center;
  font-weight: 600;

  &_link {
    text-decoration: none;
    display: block;
    padding-top: 12%;
    color: black;

    &_sign-up {
      color: white;
    }
  }

  &_orange {
    background-color: #FF9900;
  }

}

.section-1 {
  @extend %display;
  justify-content: space-between;
  width: 80vw;
  margin: 4% auto;

  &__text {
    width: 26vw;
  }

  .title {
    font-weight: 700;
    font-size: 44px;
  }

  &__button {
    @extend %display;
    justify-content: space-between;
    width: 20vw;
    margin-top: 10%;

    &__link {
      text-decoration: none;
      display: block;
      color: black;
    }

    &_get-started {
      width: 175px;
    }

  }

}

  .section-1__link-get {
    color: white;
    padding-top: 9%;
    font-size: 16px;
  }

  .section-1__button_watch-video {
    width: 161px;
    padding-left: 8%;
  }

  .section-1__link-watch {
    color:#FF9900;
    font-size: 16px;
    text-decoration-line: underline;
  }


